* {
    box-sizing: border-box;
  }
  
  * + * {
    margin-top: 1rem;
  }
  
  html {
    font: 80% 'Roboto', helvetica, sans-serif;
  }

.banner {
    text-align: center;
}

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #efefef;
    margin: 2rem auto;
    padding: 1rem;
    max-width: 25rem;
  }

  .text {
      text-align: center;
  }

  .button-container {
      display: flex;
      justify-content: center;
      align-content: center;
  }

  @media(min-width: 400px) {
    html {
        font-size: 100%;
    }

    .button {
        height: 30px;
        width: 90px;
    }
    
  }
  @media(min-width: 800px) {
    html {
        font-size: 150%;
    }

    .button {
        height: 40px;
        width: 100px;
    }
  }