* {
    box-sizing: border-box;
  }
  
  * + * {
    margin-top: 1rem;
  }
  
  html {
    font: 80% 'Roboto', helvetica, sans-serif;
    height: 100%;
    overflow: hidden;
    
  }

  body {
      height: 100%;
      background-image: url("images/american-football-field-background.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
  }

.banner {
    text-align: center;
    color: whitesmoke;
}

fieldset {
    padding: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    border: none;
  }

  .form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background: #afafaf;
    margin: 2rem auto 1rem auto;
    padding: 1rem;
    max-width: 25rem;
  }

  ul {
    list-style-type: none;
  }

  .text {
      text-align: center;
  }

  .button-container {
      display: flex;
      justify-content: center;
      align-content: center;
      padding-top: 1rem;
  }

  .questionHeader {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-content: center;
      padding-bottom: .5rem;
  }

  .answerResponse {
      text-align: center;
      font-weight: bold;
  }

  .questionInfo {
      margin-top: 0;
  }

  .imgContainer {
      display: flex;
      justify-content: center;
  }

  .button {
    border-radius: 10px;
    background-color: black;
    color: white;
  }

  .button:hover {
    font-weight: bold;
  }

  li:hover {
    background-color: rgb(201, 197, 197);
  }

  @media(min-width: 400px) {
    html {
        font-size: 100%;
    }

    .button {
        height: 30px;
        width: 120px;
    }
    
  }
  @media(min-width: 800px) {
    html {
        font-size: 150%;
    }

    .button {
        height: 40px;
        width: 130px;
    }
  }